<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<% categories = ["Tshirts","Shirts","Shoes","Jackets","Lower","Trousers","Sweatshirts"] %>

<div class="container">
    <form class="needs-validation" action="/seller/products/<%=product._id%>?_method=PATCH"  method="POST" novalidate enctype="multipart/form-data" >
        <div class="form-group">
          <label for="name">Name of the Product</label>
          <input class="form-control" name="product[name]" value="<%=product.name%>" id="name" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label>Category</label> 
        <input class="form-control" name="product[category]" value="<%=product.category%>" list="categorylist"> 
        <datalist id="categorylist"> 
          <%categories.forEach(cat=>{%>
            <option value=<%=cat%>><%=cat%></option>
            <%})%>
        </datalist> 
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <input class="form-control" name="product[gender]" value="<%=product.gender%>" list="genderlist">
          <datalist id="genderlist">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="U">Both</option>
          </datalist>
        </div>


        <div class="form-group">
          <!-- <input type="file" name="image" id="" multiple> -->
          <label for="image">Add Images</label>
          <input type="file" class="form-control" name="images"  id="image"  multiple>
        </div>
        <div class="form-group">
          <label for="brand">Brand Name</label>
          <input type="text" name="product[brand]" value="<%=product.brand%>" class="form-control" id="brand" required>
        </div>
        <div class="form-group">
          <label for="mrp">MRP</label>
          <input type="text" name="product[mrp]" value="<%=product.mrp%>" class="form-control" id="mrp" required>
        </div>
        <div class="form-group">
          <label for="price">Selling price</label>
          <input type="text" name="product[sellingprice]" value="<%=product.sellingprice%>" class="form-control" id="price" required>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input type="text" name="product[color]" value="<%=product.color%>" class="form-control" id="color" required>
        </div>
        <div class="form-group">
            <label for="description">Description of the Product</label>
            <input  name="product[description]" value="<%=product.description%>" class="form-control" id="description" cols="30" rows="3" required ></textarea>
        </div>
        <div class="input-area form-group" id="divKeywords">
          <label for="keyword">Keywords</label>
          <input class="form-control" value="<%=product.keyword%>" type="text" id="keyword" name="product[keyword]" placeholder="Enter keyword..." />
        </div>
        
        <div class="container">
          <label for="">Check the box of images you want to delete</label>
          <%product.images.forEach((image,i)=>{%>
            <div class="form-check d-inline">
              <label for="image-<%=i%>"></label>
            <img src="<%=image.thumbnail%>" id="image-<%=i%>" alt="">
            <input type="checkbox" name="deleteImages[]" value="<%=image.filename%>" id="">
            </div>       
          <%})%>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>

<a href="/profile" class="btn btn-success my-2">Go Back</a>

</div>









<script src="/javascripts/validateForms.js"></script>

<%- include('../partials/footer') %>