<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<% categories = ["t-shirts","shirts","shoes","jackets","lower","trousers","sweatshirts"] %>

<div class="container">
    <form class="needs-validation" action="/seller/products/new" method="POST" novalidate enctype="multipart/form-data" >
        <div class="form-group">
          <label for="name">Name of the Product</label>
          <input class="form-control" name="product[name]" id="name" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label for="category">Category</label> 
          <select class="form-control" name="product[category]" id="category" >
            <option value="-1">
            Select
            </option>
          <%categories.forEach(cat=>{%>
            <option value=<%=cat%>><%=cat%></option>
            <%})%>
          </select> 
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" name="product[gender]" id="gender" >
            <option value="-1">
            Select
            </option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="U">Both</option>
        </select>
        </div>
        <div>

        </div>
        <div>
          <h4><b>Add Stock for Each Size</b></h4>
            <div class="table-responsive">
              <table id="test-table" class="table table-condensed">
                <thead>
                  <tr>
                    <th>Size</th>
                    <th>Stock Available</th>
                  </tr>
                </thead>
                <tbody id="test-body">
                  <tr id="row0">
                    <td>
                      <input name='stocks[0][size]' placeholder="S,M,L,XL,XXL ..." type='text' class='form-control' />
                    </td>
                    <td>
                      <input name='stocks[0][units]' placeholder="500" type='text' class='form-control input-md' />
                    </td>
                    <td>
                      <input class='delete-row btn btn-primary' type='button' value='Delete' />
                    </td>
                  </tr>
                </tbody>
              </table>
              <input id='add-row' class='btn btn-primary mb-3' type='button' value='Add' />
            </div>
            </div>

        <div class="form-group">
          <!-- <input type="file" name="image" id="" multiple> -->
          <label for="image">Images</label>
         <input type="file" name="images" id="images" multiple>
        </div>
        <div class="form-group">
          <label for="brand">Brand Name</label>
          <input type="text" name="product[brand]" class="form-control" id="brand" required>
        </div>
        <div class="form-group">
          <label for="mrp">MRP</label>
          <input type="text" name="product[mrp]" class="form-control" id="mrp" required>
        </div>
        <div class="form-group">
          <label for="price">Selling price</label>
          <input type="text" name="product[sellingprice]" class="form-control" id="price" required>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input type="text" name="product[color]" class="form-control" id="color" required>
        </div>
        <div class="form-group">
            <label for="description">Description of the Product</label>
            <input  name="product[description]" class="form-control" id="description" cols="30" rows="3" required ></textarea>
        </div>
        <div class="input-area form-group" id="divKeywords">
          <label for="keyword">Keywords</label>
          <input class="form-control" type="text" id="keyword" name="product[keyword]" placeholder="Enter keyword..." />
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/javascripts/addStocksBtn.js"></script>
<script src="/javascripts/validateForms.js"></script>

<%- include('../partials/footer') %>