 <%-include('partials/header')%>
<%-include('partials/navbar')%>
 <link rel='stylesheet' type='text/css' href='/stylesheets/cart.css'>
<div class='container'>
<form action="/buy" method='post'>
  <%if(currentUser){ %>
  <div class="container">
  <h2>Shipping Address</h2>
  <%if(currentUser.address){ %>
    <div class="displayAddressDiv">
      <ul class="displayAddressUL">
      <strong > <%=currentUser.address.fullname%></strong><br>
      <strong ><%=currentUser.address.mobileNumber%></strong><br>
      <strong ><%=currentUser.address.address%> </strong><br>
      <strong ><%=currentUser.address.landmark%></strong><br>
      <strong ><%currentUser.address.town%> <%=currentUser.address.state%> <%=currentUser.address.pincode%></strong><br>
      <strong >India</strong><br>
      </ul>
      </div>
    <a class="btn btn-primary" href="/user/address/edit">Edit</a>
  <%} else {%>
    <p>Please Add Shipping Address to Continue</p>
    <a href="/user/address/new">Add Shipping Address</a>
  <%}%>
</div>
<%}%>

 <h1 class='mb-5'>Shopping Cart</h1>

 <div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
<% let amt=0; %>
  <% for(let product of products) { %>
    

  <div class="product" id='<%=product.id%>'>
    <% amt+=product.qty*product.mrp %>
    <div class="product-image">
      <img src="<%=product.image%>">
    </div>
    <div class="product-details">
      <div  class="product-title">
        <a href="/products/<%=product.pid%>"><%=product.name%></a></div>
      <p class="product-description"><%=product.description%></p>
    </div>
    <div class="product-price"><%=product.mrp%></div>
    <div class="product-quantity">
      <input type="number" value="<%=product.qty%>" min="1">
    </div>
    <div class="product-removal">
      <a class="btn remove-product">
        Remove
      </a>
    </div>
    <div class="product-line-price"><%=product.qty*product.mrp%></div>
  </div>
  <% }  %>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%=amt%></div>
    </div>
    <div class="totals-item">
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">0.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total"><%= amt %></div>
    </div>
  </div>
      
      <button class="checkout mb-5">Checkout</button>

</div>
</form>
</div>

 <script src='JS/cart.js'></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 

