<%-include('partials/header')%>
<%-include('partials/navbar')%>
<div class='container'>
<form action="/buy" method='post'>
<% for(let product of products) { %>

 
    
    <div class="card d-flex" style="width: 25%;">
        <img src="<%=product.image%>">
        <div class="card-body">
          <p class="card-text"><%=product.name%></p>
          <p class="card-text"><%=product.size%></p>
          <p class="card-text">Qty:<%=product.qty%></p>
          <p class="card-text">₹<%=product.mrp%></p>
          
       </div>
     </div>
     
<% }  %>
<button class="btn btn-success m-2">Buy</button>
</form>
</div>