<%- include('./partials/header') %>
    
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgba(0, 0, 0, 0.356);">
    <a class="navbar-brand" href="/">DDX</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="searchterm form-control ml-auto mr-sm-2" type="text" placeholder="Search">
            <button class="btn-sm btn-light my-2 my-sm-0 search"><b>Search</b></button>
        </form>
    </div>

    
</nav>

<div class="container-fluid  text-white" >
    <div class="row m-4">
        <div class="col-8">
            
            <img src=<%=product.images[0]%> style="max-width: 100%; min-width: 100%; height:auto">
        </div>
        <div class="col-4 ">
            <h3><%=product.productName%></h3>
            <p class="" style="font-size: 1.7rem; font-weight: lighter;">₹<%=product.mrp%></p>
            <p></p>
            <%product.stocks.forEach(s=>{%>
                < class="btn btn-primary" disabled=><%=s.size%></>
            <%})%>
            <p></p>
        </div>
    </div>
</div>
</body>
</html>
