<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<h1>
  Welcome to the seller's profile: 
  <%=currentUser.name%>
</h1>

<img class="" src="<%=currentUser.image%>">

<a class="btn btn-warning btn-lg" href="/seller/orders">Orders</a>

<div class="container">
  <h2 class="text-center"><a class="btn btn-success btn-lg" href="/seller/products/new">List new Product</a></h2>
  <table class="table">
    <tr class="table-active">
      <th>Image</th>
      <th>Name</th>
      <th>Stocks</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%products.forEach(pr=>{%>
      <tr class="table-primary ">
        <td><img   style="max-width: 100px;" src="<%=pr.images[0].thumbnail%>" alt=""></td>
        <td><a href="/products/<%=pr._id%>"><%=pr.name%> </a></td>
        <td>
          <table>
            <tr>
              <th>Size</th>
              <th>Units</th>
            </tr>
            <tr>
          <%pr.stocks.forEach(stock=>{%>
          
              <td><%=stock.size%>: </td>
              <td> <%=stock.units%></td>
            </tr>
          
        <%})%>
      </table>
      </td>
        <td><a class="btn btn-warning" href="/seller/products/<%=pr._id%>/edit">Edit</a></td>
        <td><a class="btn btn-danger" href="/seller/products/<%=pr._id%>/delete">Delete</a></td>
     </tr>
    <%})%>
    
  </table>
  
</div>




<%-include('../partials/footer')%>