<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<h1>
  <%=currentUser.name%>
</h1>
<img src="<%=currentUser.image%>"" alt="...">
<a class="btn btn-primary" href="/user/orders">Orders</a>


<%-include('../partials/footer')%>