<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<link rel="stylesheet" type="" href="http://localhost:3000/stylesheets/orders.css">


<div class="container">

  <table class="table">
    <tr class="table-active">
      <th>Image</th>
      <th>Name</th>
      <th>Tracking Id</th>
      <th>Is Delivered</th>
      <th>Change delivery Status</th>
      <th>Show more</th>

    </tr>
    
    <%orders.forEach(or=>{%>
      <tr class="table-primary ">
        <td><%=or._id%></td>
        <td><%=or.address.fullname%>, <%=or.address.mobileNumber%></td>
        <%if(or.trackingId){%>
          <td><%=or.trackingId%></td>
        <%}else{%>
          <td>
            <form class="form-inline" action="/seller/orders/<%=or._id%>/trackingid?_method=PATCH" method="POST">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Tracking Id" name="trackingId">
              </div>              
              <button class="btn btn-success ml-1">Add</button>
            </form>
          </td>
          <%}%>
        
        <td>
          <%=or.isDelivered?"✔️":"❌"%>
        </td>
        <td>
          <form  action="/seller/orders/<%=or._id%>/delivered?_method=PATCH" method="POST">
            <button class="btn btn-primary">
              Toggle
            </button>
          </form>
        </td>
        <td>
          <a class="btn btn-info" href="/seller/orders/<%=or._id%>">
            Details
          </a>
        </td>
     </tr>
    <%})%>
    
  </table>

</div>


<div class="container mt-3 mt-md-5">
  <h2 class="text-charcoal hidden-sm-down">Your Orders</h2>
  <!-- <h5 class="text-charcoal hidden-md-up">Your Orders</h5> -->
  <div class="row">
    <%orders.forEach(or=>{%>
    
      <div class="col-12 <%=or._id%>">
        <div class="list-group mb-5">
          <div class="list-group-item p-3 bg-snow" style="position: relative;">
            <div class="row w-100 no-gutters">
              <div class="col-6 col-md mx-3">
                <h6 class="text-charcoal mb-0 w-100">Order Number</h6>
                <a href="" class="text-pebble mb-0 w-100  mb-2 mb-md-0"><%=or.orderId%></a>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Date</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%=or.paidAt%></p>  
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">₹<%=or.totalPrice%></p> 
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%=or.address.fullname%></p> 
              </div>
              <div class="col-12 col-md-3">
                <a href="/seller/orders/<%=or.id%>" class="btn btn-primary mx-3 w-90">View Order</a>
              </div>
            </div>
            
          </div>
          <div class="list-group-item p-3 bg-white">
            <div class="row no-gutters mt-3 mx-3 w-100">
              <div class="col-12 col-md-9 pr-0 pr-md-3">
                <%if(or.isDelivered){%>
                  <div  class="alert p-2 mx-3 mb-2 alert-success w-90">
                    <h6 class="text-green mb-0"><b>Delivered</b></h6>
                    <p class="text-green hidden-sm-down mb-0">The Order with tracking Id <%=or.trackingId%> got delivered on <%=or.deliveredAt%></p>
                  </div>
                <%}else if(or.trackingId){%>
                  <div  class="alert p-2 mx-3 mb-2 alert-success w-90">
                    <h6 class="text-green mb-0"><b>Shipped</b></h6>
                    <p class="text-green hidden-sm-down mb-0">Your Tracking Id is <%=or.trackingId%></p>
                  </div>
                <%}else{%>
                  <div  class="alert p-2 mx-3 mb-2 alert-primary w-90">
                    <h6 class="text-black mb-0"><b>Order Placed</b></h6>
                    <p class="text-black hidden-sm-down mb-0">You order is placed and will be shipped soon!</p>
                  </div>
                  <%}%>
                
                <%or.orderItems.forEach(item=>{%>
                  <div class="row no-gutters mt-3 mx-3 w-100">
                    <div class="col-3 col-md-1">
                      <img class="img-fluid pr-3" src="<%=item.image%>" alt="">
                    </div>
                    <div class="col-9 col-md-8 pr-0 pr-md-3">
                      <h6 class="text-charcoal mb-2 mb-md-1">
                        <a href="/products/<%=item.prid%>" class="text-charcoal"><%=item.qty%>   x   <%=item.name%></a>
                      </h6>
                      <ul class="list-unstyled text-pebble mb-2 small">
                        <!-- <li class="">
                          <b>Color:</b> Red
                        </li> -->
                        <li class="">
                          <b>Size:</b> <%=item.size%>
                        </li>
                      </ul>
                      <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>₹<%=item.price * item.qty%></b></h6>
                    </div>
                    
                  </div>
  
                <%})%>
              </div>
              <div class="col-12 col-md-3 ">

                <div class="a-section a-spacing-none od-shipping-address-container">
                  <h5 style="font-weight: 700;line-height: 19px;" class="a-spacing-micro">
                      <strong>Shipping Address</strong> 
                  </h5> 
              
                  <div class="a-row a-spacing-micro">
                      <div class="displayAddressDiv">
              <ul class="displayAddressUL">
              <li ><%=or.address.fullname%></li>
              <li ><%=or.address.mobileNumber%></li>
              <li ><%=or.address.address%> </li>
              <li ><%=or.address.landmark%></li>
              <li ><%or.address.town%> <%=or.address.state%> <%=or.address.pincode%></li>
              <li >India</li>
              </ul>
              </div>
              
              
                  </div> 
                  
              </div>








                <a href="" class="btn btn-secondary mx-3 w-90 mb-2">Track Shipment</a>
                <%if(!or.trackingId){%>
                  <form class="form-inline" action="/seller/orders/<%=or._id%>/trackingid?_method=PATCH" method="POST">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Tracking Id" name="trackingId">
                    </div>              
                    <button class="btn btn-success ml-1">Add</button>
                  </form>
                <%}else if(!or.isDelivered ){%>
                  <form  action="/seller/orders/<%=or._id%>/delivered?_method=PATCH" method="POST">
                    <button class="btn btn-secondary mx-3 w-90 mb-2">
                      Set as Delivered
                    </button>
                  </form>
                <%}else{%>
                  <button disabled="true" class="btn btn-success mx-3 w-90 mb-2">
                    Delivered
                  </button>
                  <%}%>
                
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    
    <%})%>
   
 
  </div>
</div>

<%-include('../partials/footer')%>


<%-include('../partials/footer')%>
