<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<h1>
  Welcome to the seller's profile: 
  <%=currentUser.name%>
</h1>

<img src="<%=currentUser.image%>"







<%-include('../partials/footer')%>